@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
}

body{
  margin: 0;
}

a,
input,
button {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
}

backGround{
  
}

.navBar{
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  height: 80px;
}

.cart{
  
}

.logo {
  display: flex;
  justify-content: center;
  flex-grow: 1; /* Allows the logo to stay centered */
  text-align: center;
}

.cartCounter {
  text-align: center;
  color: white;
  background-color: red;
  position: absolute;
  top: 4px;
  bottom: 90px;
  right: 420px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.heroSection {
  display: flex;
  justify-content: center; /* Center the items horizontally */
  height: 70vh;
}

.heroImage {
 /* Limit the maximum width */
  max-width: 100%;
  min-width: 100px;
}
