@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: rgb(250, 250, 250);
}

a,
input,
button {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
}

.navBar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

}

.cart{
  
}

.logo {
  display: flex;
  justify-content: center;
  flex-grow: 1; /* Allows the logo to stay centered */
  text-align: center;
}

.cartCounter {
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
  background-color: rgb(37 99 235);
  position: absolute;
  top: 4px;
  bottom: 90px;
  right: 420px;
  width: 20px;
  height: 20px;
  border-radius: 20%;
  margin: 0;
}

.heroSection {
  display: flex;
  justify-content: center; /* Center the items horizontally */
  height: 80vh;
  border: none;
}

.heroImage {
  max-width: 100%;
  min-width: 100px;
  border-color:transparent;
  margin-top: 20px;
  margin-bottom: 4px;
}

.items {
  display: grid;
  grid-template-rows: repeat(2, 1fr); /* Three equal columns */
  
  gap: 16px; /* Space between items */
  padding: 16px; /* Padding around the grid */
}

.items > div{
  background-color: #f8f8f8; /* Background color for items */
  border: 1px solid #ddd; /* Border around items */
  border-radius: 8px; /* Rounded corners */
  padding: 16px; /* Padding inside items */
  text-align: center; /* Center align text */
  transition: transform 0.2s; /* Animation for hover effect */
}

.items>div:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.item img {
  max-width: 100%; /* Make images responsive */
  height: auto; /* Maintain aspect ratio */
  border-radius: 4px; /* Rounded corners for images */
  margin-bottom: 10px;
}

.items p {
  margin: 8px 0; /* Margin between paragraphs */
}

/* Specific layout adjustments */
.shirt {
  grid-row: 1; /* Position shirt in the first column */
  grid-column: 1;
  grid-column-start: 1;
  grid-column-end: 1;
}

.other-items {
  grid-row: 1/ -2; /* First row for other items */
  
}

.shoes {
  grid-column: 1 / -1; /* Shoes take the full width of the grid */
  grid-row: 2; /* Position shoes in the second row */
}

.addToCartButton{
  width: 120px;
  height: 40px;
  color: white;
  background-color: rgb(37 99 235);
  border-radius: 20px;
}

.footerContainer{
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding: 48px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-top: 1px solid #e2e2e2;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.footerHeader{
  font-size:3rem;
  font-weight: bold;
  margin-bottom: 700;
}

.footerContent{
  display: flex;
  flex-direction: column;
}

.footerContent > p {
  font-size: 1.1rem;
  margin-bottom: 10px;
  line-height: 1.75rem;
}

.footerContent ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  padding-inline-start: 1.625em;
  margin-block-start: 1em;
  margin: 10px 0;
  margin-top: 2rem;
  line-height: 1.75rem;
}

.footerContent li{
  margin-bottom: 10px;
}

li::marker{
  color: #d1d5db;
}